.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  // padding: 10px;

  &-left {
    flex-basis: 100%;
    padding: 10px;
  }

  &-right {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.back-btn-wrap {
  flex-basis: 100%;
  padding: 0 0 30px;
  display: flex;
  justify-content: flex-start;
}

.back-btn {
  height: 20px;
  border-bottom: dotted 1px var(--color-primary);
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-primary);
  cursor: pointer;
}

.docs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  flex-wrap: wrap;
  padding: 10px;

  h4 {
    margin: 0 0 10px;
    flex-basis: 100%;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}

.no-docs {
  color: var(--color-danger);
  font-weight: 600;
}

.alert {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner {
    padding: 2px 22px;
    border-radius: 3px;
    color: var(--color-success);
    font-weight: 600;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  }
}

// app-presentation-full-doc {
//     // width: 100%;
//     // padding: 10px;
//     // margin: 10px;
// }
