h3 {
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 5px;
}

h5 {
    text-transform: uppercase;
    color: var(--color-secondary);
    margin: 0;
}

p {
    margin: 0;
    padding: 10px 0;
}